<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Hi!</h2>
      <p> Play the odd-even game. Click the buttons below to start and stop it.</p>
      <!-- get the intervalFired variable from gamecontrol.component.ts with the output() method and call the
      onIntervalFired method in app.component.ts on it -->
      <app-gamecontrol (intervalFired)="onIntervalFired($event)"> </app-gamecontrol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <!-- get the bound number from the input() method in odd.component.ts into this ngFor and display it -->
      <app-odd *ngFor="let oddNumber of oddArray" [numb]="oddNumber">
      </app-odd>
    </div>
    <div class="col-sm-6">
      <app-even *ngFor="let evenNumber of evenArray" [numb]="evenNumber">
      </app-even>
    </div>
  </div>
</div>